@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');
*, *::after, *::backdrop{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Manrope', sans-serif;
}
body{
  background-color: #aa9b8d;
}
.accordion__button {
  background-color: #aa9b8d;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.3s;
  font-size: 2rem;
  text-shadow: 1px 1px black;
}
.accordion__button::after {
  content:'\25be';
  float: right;
  transform: scale(1.5);
}
.accordion__button--active, .accordion__button:hover{
  background:#8d7a69;
}
.accordion__button--active::after {
  content:'\25b4';
}
.accordion__content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  text-align: center;
  background-color: white;
}
.section{
  padding: 25px;
  text-align: center;
}
.section > div{
  padding: 12px;
}
.create-section-btn{
  padding: 10px 20px;
  margin: 10px;
  border: black solid 1px;
  border-radius: 0.8rem;
}
.create-section-btn:hover{
  border: #8d7a69 solid 1px;
  border-radius: 0.8rem;
  color: white;
  background:#8d7a69;
}

.delete-btn{
  padding: 2px 9px;
  border-radius: 0.4rem;
  border: black solid 1px;
}
.delete-btn:hover{
  padding: 2px 9px;
  color: white;
  background:#8d7a69;
  border: #8d7a69 solid 1px;
}
.test-class-1{
  display: flex;
  gap: 2rem;
  justify-content: center;
}
#accordion-content-container-1{
  text-align: center;
}